<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="SqlCon" connectionString="server=LAPTOP-LGNP6SDK\SQLEXPRESS;database=SalesDatabase;uid=sa;password=Cts@8002;"/>
	</connectionStrings>
</configuration>
