<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
		<add name="myCon" 
         connectionString="Data Source=PCIN499516\SQLEXPRESS;Initial Catalog=ElectricityBillDB;User Id=sa;Password=Cts@8002"/>
</connectionStrings>
</configuration>
