<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="myCon"
		connectionString="Data Source=LAPTOP-LGNP6SDK\SQLEXPRESS;Initial Catalog=NewDBTru;
Integrated Security=True;user name=sa;password=Cts@892282" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
